body {
    margin: 0;
}

header {
    background-color: rgb(255, 102, 0);
    padding-left: 40px;
    padding-top: 20px;
    padding-bottom: 10px;;
}
.main-section {
    border: rgb(255, 102, 0) 4px solid;
    margin: 20px;
    padding: 10px;
}
h1 {
    font-size: 40px;
}
h3 {
    color: rgb(255, 102, 0);
}
.secondary-section {
    padding: 10px;
    border: orange 3px dotted;
    margin: 20px;
}
#ibis-pic {
    height: 50%;
}
p {
    font-size: 20px;
}
footer {
    padding: 30px;
}